a,a:visited{
	color: inherit;
	text-decoration: none;
}
.top-space{
	margin-top: 1em;
}

.animated{
  opacity: 1;
  max-height: auto;
  overflow: hidden;
  transition: all 2s;
}
.animated.ng-hide{
  opacity: 0;
  max-height: 0px;
  display: block !important;
}
